[build]
  publish = "dist"
  command = "npm run build"
  
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  
[[redirects]]
  from = "/admin/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  
[[forms]]
  name = "property-submission"
